{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <title>Contato</title>
  </head>
  <body>
    <h1>Contato:</h1>

    <ul>
      <li>{{ contato.Nome }}</li>
      <li>{{ contato.Email }}</li>
      <li>{{ contato.Email }}</li>
    </ul>

    <a href="index.html">Voltar</a>
  </body>
</html>
